body {
  font-family: 'Courier New', Courier, monospace;
}

.first-color {
    background: #00204a;
}

.second-color {
    background: #005792;
}

.third-color {
    background: #00bbf0;
}

.fourth-color {
    background: hsl(39, 36%, 80%);
}

.message-user {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 60%;
	padding: 0;
	background: hsl(39, 36%, 80%);
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		bottom: 100%;
		left: 36rem;
		border: .75rem solid transparent;
		border-top: none;
		border-bottom-color:hsl(39, 36%, 80%);
		filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
		transform: skewX(-20deg);
	}
}

.message-system{
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 0;
    width: 60%;
	&::before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		bottom: 100%;
		left: 1.5em;
		border: .75rem solid transparent;
		border-top: none;
		border-bottom-color: hsl(0,1%,14%);
		filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
		transform: skewX(20deg);
	}
}

.custom-border{
	border: 8px solid hsl(42, 15%, 40%);
	border-right-color: hsl(42, 15%, 85%);
	border-bottom-color: hsl(42, 15%, 70%);
	border-left-color: hsl(42, 15%, 46%);
	border-radius: 15px;
}